#section-center {
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 2rem;
  width: 620px;
  margin: 2rem auto 0 auto;
}
#section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#grocery-form h3 {
  color: hsl(205, 86%, 17%);
  margin-bottom: 1.5rem;
  text-align: center;
}
#form-control {
  display: flex;
  justify-content: center;
}
#grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: hsl(210, 36%, 96%);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: hsl(210, 22%, 49%);
}
#grocery::placeholder {
  color: hsl(210, 22%, 49%);
}
#submit-btn {
  background: hsl(205, 86%, 81%);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  content: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  font-size: 0.85rem;
}
#submit-btn:hover {
  background: hsl(205, 78%, 60%);
  color: white;
}

.grocery-container {
  margin-top: 2rem;
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 71%, 66%);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: hsl(360, 67%, 44%);
}
